68kgen
68kgen.o
68ktab.h
68kmn
6502kw.h
opkw.h
*.o
*~
kwtab.h
mntab.h
risckw.h
rmac
rmac.exe
kwgen
bugs.txt
bugs/
bugs1/
bugs2/
bugs3/
bugs4/
bugs5/
bugs6/
bugs7/
bugs8/
*.zip
features/
patches/
tmp/
elf/
tests/
regression-tests/
versions/
