68kgen
68kgen.o
68ktab.h
68k.tab
6502kw.h
opkw.h
dsp56k*
*.o
*~
kwtab.h
mntab.h
risckw.h
rmac
rmac.exe
kwgen
bugs.txt
bugs/
bugs1/
bugs2/
bugs3/
bugs4/
bugs5/
bugs6/
bugs7/
bugs8/
*.zip
features/
patches/
tmp/
elf/
tests/
regression/
versions/
56kregs.h
6502regs.h
68kregs.h
riscregs.h
unarytab.h
